.loader {
    border-top: 16px solid #FF9933;
    border-right: 16px solid #FFFFFF;
    border-bottom: 16px solid #138808;
    border-left: 16px solid #000080;
       border-radius: 50%;
       width: 120px;
       height: 120px;
       animation: spin 2s linear infinite;
    margin-left : 40%;   
   }
   
   @keyframes spin {
       0% { transform: rotate(0deg); }
       100% { transform: rotate(360deg); }
   }
   .answerDivCorrectClass { width: 120px; 
    height: 30px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color: #52be80; border-radius: 10px; 
  }

    .answerDivWrongClass { width: 120px; 
    height: 30px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color:  #ec7063; border-radius: 10px; 
  }

   .imgdraggableClass { width: 9%; 
    height: auto; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color: #5dade2 ; border-radius: 10px; 
  }

  .imgdroppableClass { width: 9%; 
    height: auto; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color:  #bb8fce; border-radius: 10px;font-size:15px;font-weight: bold; text-align: center; vertical-align: middle;
    overflow-y:auto;overflow-x:auto; word-break:break-all;  

  }

#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    z-index: 1;
    border-radius: 10px; 
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px; 
}
li{
  margin: 10px 0;
}

.scoreSpanClass
{
  height: 30px;
  width:30px;
  margin-left:20px; font-size:30px;
}

.innerDraggableImage
{
  width:100%; 
  height:100%;
  margin:auto;
  display:block;
}


.jigimgdraggableClass { width: 70px; 
    height: 70px;margin-top: 10px;margin-right: : 10px;
    float: left; 
    background-color: grey; border-radius: 2px;
    background-size:100%;

  }

  .jigimgdroppableClass { width: 70px; 
    height: 70px;  
    float: left; 
    background-color: #bb8fce; border-radius: 2px; 
    border: 1px solid gray;
    background-size:100%;

  }

#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 40%;
    width:30em;
    height:12em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
}

.jigimgBlocksRowClass:after
{
    content: "";
    display: table;
    clear: both;
}
.jigoriginalimageClass
{
    float: left; 
    width:210px;
    height:210px;
    background: url(../img/jiggame1/Owl.jpg) no-repeat center center scroll;
    background-size:100%;
}
.jigblocksdivClass
{
    float: left; 
    width:300px;
    height:220px;
    margin-top:20px;
    margin-left: 50px;
    background-size:100%;
}
.jigimgRowClass:after
{
    content: "";
    display: table;
    clear: both;
}
.jigscoreSpanClass
{
  margin-left:20px; font-size:20px;
}


.jwdraggableClass { width: 6%; 
    height: auto; padding:  0px 0px 0px 0px;font-weight: bold;
    float: left; margin: 10px 10px 10px 0; 
    background-color:  #dc7633    ; border-radius: 4px;
 text-align: center;vertical-align: middle;
 z-index: 5;
}

  .jwlabelClass { width: 6%; 
  height: 6%; padding:  0px 0px 0px 0px;font-weight: bold;
  float: left; margin: 10px 10px 0px 0; 
  background-color:  white    ; border-radius: 20px; 
  text-align: center;vertical-align: middle;
}


.jwdroppableClass { width: 6%; 
  height: auto; padding:  0px 0px 0px 0px;font-weight: bold;
  float: left; margin: 10px 10px 10px 0; 
  background-color:  #dc7633    ; border-radius: 4px; 
  text-align: center;vertical-align: middle;line-height: 30px;
}

.jwleftPanelContent
{
  float:left;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:20px;
  background-color:  #707b7c;
  border-radius: 4px; 
}

.jwrightPanelContent
{
  float:left;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:20px;
  background-color: #707b7c ;
  border-radius: 4px;   
}

#congratsDiv {
  position:fixed;
  top: 40%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  background-color: green;
  background: url(../img/congrats.jpg) no-repeat center center scroll;
  display:none;
  background-size:100%;
  z-index: 1;
}
#tryagainDiv {
  position:fixed;
  top: 40%;
  left: 50%;
  width:30em;
  height:15em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  background-color: green;
  background: url(../img/tryagain.png) no-repeat center center scroll;
  display:none;
  background-size:100%;
  z-index: 1;
  cursor: pointer;
}

li{
margin: 10px 0;
}

.correctDiv
{
display: none;
padding:  20px 10px 10px 10px;font-weight: bold; 
  float: left; margin: 10px 10px 10px 0; text-align: center;
  background-color: #5dade2  ; border-radius: 4px;

background: url(../img/correct.png) no-repeat center center scroll;
    background-size:100%;

}
.wrongDiv
{
display: none;
  padding:  20px 10px 10px 10px;
  float: left; margin: 10px 10px 10px 0; text-align: center;
  border-radius: 4px;
 background-color: #5dade2 ;
background: url(../img/wrong.png) no-repeat center center scroll;
background-size: 100%;
}

.jwleftPanelHeading
{
height: 30px;
border-radius: 4px;
padding-left:20px;
font-size:15px;
font-weight: strong;
vertical-align: middle;line-height: 30px;    
}
.jwrightPanelHeading
{
height: 30px;
border-radius: 4px;
padding-left:20px;
font-size:15px;
font-weight: strong;
vertical-align: middle;line-height: 30px;    

}
.jwscoreSpanClass
{
height: 30px;
width:30px;
margin-left:20px; font-size:30px;
border-radius: 20px;
}

.draggableClass { width: 8%; 
    height: auto; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color: #5dade2  ; border-radius: 10px; font-size:15px;font-weight: bold; text-align: center; padding-top: 20px; vertical-align: middle;
    overflow-y:auto;overflow-x:auto; word-break:break-all;  
  }

  .droppableClass { width: 8%; 
    height: auto; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color:  #bb8fce; border-radius: 10px;font-size:15px;font-weight: bold; text-align: center; padding-top: 20px; vertical-align: middle;
    overflow-y:auto;overflow-x:auto; word-break:break-all;  
  }
#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    z-index: 1;
    border-radius: 10px; 
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px; 
}
.gamesHeading
{
  background-color: skyblue;
  height:50px;
  width=300px;
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
li{
  margin: 10px 0;
}

.scoreSpanClass
{
  height: 30px;
  width:30px;
  margin-left:20px; font-size:30px;
}

.innerDraggableImage
{
  width:100%; 
  height:100%;
  margin:auto;
  display:block;
}

  
.miximgdraggableClass { width: 9%; 
    height: 50px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color: orange; border-radius: 10px; color:black;font-weight: bold; text-align: center;
  }

  .miximgdroppableClass { width: 30%; 
    height: 200px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color: #bb8fce; border-radius: 10px; color:black;font-weight: bold; text-align: center;
  }

#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 40%;
    width:30em;
    height:12em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
}

.imgBlocksRowClass:after
{
    content: "";
    display: table;
    clear: both;
}
.tray
{
    float: left; 
    width:220px;
    height:220px;
    background-color: skyblue;
    background-size:100%;
}
.blocksdivClass
{
    float: left; 
    width:210px;
    height:210px;
    margin-left: 50px;
    background-size:100%;
}
.imgRowClass:after
{
    content: "";
    display: table;
    clear: both;
}
.scoreSpanClass
{
  margin-left:20px; font-size:20px;
}

.innerDraggableImage
{
  width:100%; 
  height:100%;
  margin:auto;
  display:block;
}

  
.mixlimgdraggableClass { width: 9%; 
    height: 50px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color: orange; border-radius: 10px; color:black;font-weight: bold; text-align: center;
  }

  .mixlimgdroppableClass { width: 30%; 
    height: 200px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color: #bb8fce; border-radius: 10px; color:black;font-weight: bold; text-align: center;
  }

#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 40%;
    width:30em;
    height:12em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
}

.mixlimgBlocksRowClass:after
{
    content: "";
    display: table;
    clear: both;
}
.mixltray
{
    float: left; 
    width:220px;
    height:220px;
    background-color: skyblue;
    background-size:100%;
}
.mixlblocksdivClass
{
    float: left; 
    width:210px;
    height:210px;
    margin-left: 50px;
    background-size:100%;
}
.mixlimgRowClass:after
{
    content: "";
    display: table;
    clear: both;
}
.mixlscoreSpanClass
{
  margin-left:20px; font-size:20px;
}

.mixlinnerDraggableImage
{
  width:100%; 
  height:100%;
  margin:auto;
  display:block;
}

.mldraggableClass { width: 6%; 
    height: auto; padding:  0px 0px 0px 0px;font-weight: bold;
    float: left; margin: 10px 10px 10px 0; 
    background-color:  #dc7633    ; border-radius: 4px;
   text-align: center;vertical-align: middle;
   z-index: 5;
  }

    .mllabelClass { width: 6%; 
    height: 6%; padding:  0px 0px 0px 0px;font-weight: bold;
    float: left; margin: 10px 10px 0px 0; 
    background-color:  white    ; border-radius: 20px; 
    text-align: center;vertical-align: middle;
  }


  .mldroppableClass { width: 6%; 
    height: auto; padding:  0px 0px 0px 0px;font-weight: bold;
    float: left; margin: 10px 10px 10px 0; 
    background-color:  #dc7633    ; border-radius: 4px; 
    text-align: center;vertical-align: middle;
  } 

  .mlleftPanelContent
  {
    float:left;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    background-color:   #707b7c     ;
    border-radius: 4px; 
  }

  .mlrightPanelContent
  {
    float:left;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:50px;
    background-color:  #707b7c  ;
    border-radius: 4px;   
  }

#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
}
li{
  margin: 10px 0;
}

.correctDiv
{
  display: none;
padding:  20px 10px 10px 10px;font-weight: bold; 
    float: left; margin: 10px 10px 10px 0; text-align: center;
    background-color: #5dade2  ; border-radius: 4px;

  background: url(../img/correct.png) no-repeat center center scroll;
      background-size:100%;

}
.wrongDiv
{
  display: none;
    padding:  20px 10px 10px 10px;
    float: left; margin: 10px 10px 10px 0; text-align: center;
    border-radius: 4px;
   background-color: #5dade2 ;
  background: url(../img/wrong.png) no-repeat center center scroll;
  background-size: 100%;
}

.mlleftPanelHeading
{
  height: 30px;
  background-color:  #641e16 ;
  border-radius: 4px;
  width:120px;
  padding-left:20px;
  font-size:15px;
  font-weight: strong;
  vertical-align: middle;line-height: 30px;    
}
.mlrightPanelHeading
{
  height: 30px;
  width:120px;
  background-color:   #641e16  ;
  border-radius: 4px;
  padding-left:20px;
  font-size:15px;
  font-weight: strong;
  vertical-align: middle;line-height: 30px;    

}
.scoreSpanClass
{
  height: 30px;
  width:30px;
  margin-left:20px; font-size:30px;
}
.spellDivclass { 
    padding: 0.5em; 
    float: left; margin: 5px 5px 5px 0; text-align: center; vertical-align: center;
    background-color: #bb8fce; border-radius: 10px; font-size: 20px;font-weight: strong;
  }
    .spellDivCorrectClass {
    padding: 0.5em; 
    float: left; margin: 5px 5px 5px 0; text-align: center; vertical-align: center;
    background-color:  #52be80 ; border-radius: 10px; font-size: 20px;font-weight: strong;
  }

    .spellDivWrongClass {
    padding: 0.5em; 
    float: left; margin: 5px 5px 5px 0; text-align: center; vertical-align: center;
    background-color: #ec7063; border-radius: 10px; font-size: 20px;font-weight: strong;
  }

  .alphadraggableClass { width: 9%; 
    height: auto; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color: #5dade2  ; border-radius: 10px; font-size:15px;font-weight: bold; text-align: center; vertical-align: middle;
  overflow-y:auto;overflow-x:auto; word-break:break-all;  
}

.alphadroppableClass { width: 9%; 
    height: auto; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; 
    background-color:  #bb8fce; border-radius: 10px;font-size:15px;font-weight: bold; text-align: center; padding-top: 15px; vertical-align: middle;
  overflow-y:auto;overflow-x:auto; word-break:break-all;  
}

#congratsDiv {
  position:fixed;
  top: 40%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  background-color: green;
  background: url(../img/congrats.jpg) no-repeat center center scroll;
  display:none;
  z-index: 1;
  border-radius: 10px; 
}
#tryagainDiv {
  position:fixed;
  top: 40%;
  left: 50%;
  width:30em;
  height:15em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  background-color: green;
  background: url(../img/tryagain.png) no-repeat center center scroll;
  display:none;
  background-size:100%;
  z-index: 1;
  cursor: pointer;
  border-radius: 10px; 
}

li{
margin: 10px 0;
}

.alphascoreSpanClass
{
height: 30px;
width:30px;
margin-left:20px; font-size:30px;
}

.q2answerDivclass { width: 20%; 
    height: 60px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color:  #5d6d7e  ; border-radius: 10px; font-size: 20px; line-height: 20px;
  }
    .q2answerDivCorrectClass { width: 20%; 
    height: 60px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color: #52be80; border-radius: 10px; font-size: 20px;line-height: 20px;
  }

    .q2answerDivWrongClass { width: 20%; 
    height: 60px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color:  #ec7063; border-radius: 10px; font-size: 20px;line-height: 20px;
  }

  .q2questionPClass
  {
    margin-top:10px;
    color: #a93226;
    font-size: 20px;
    margin-left:20px;
  }

#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    z-index: 1;
    border-radius: 10px; 
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px; 
}
li{
  margin: 10px 0;
}

.q2scoreSpanClass
{
  height: 30px;
  width:30px;
  margin-left:20px; font-size:30px;
}

.wfdraggableClass { width: 40px; 
    height: 40px; padding:  10px 10px 10px 10px;font-weight: bold; font-size: 20px;
    float: left; margin: 1px 1px 1px 1px; 
    background-color:  #dc7633    ; border-radius: 0px; 
    text-align: center;vertical-align: middle;
  }

  .wfleftPanelContent
  {
    margin-top:20px;
    float:left;
    background-color:  #707b7c    ;
    border-radius: 4px; 
  }


#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
}

.wfscoreSpanClass
{
  height: 30px;
  width:30px;
  margin-left:20px; font-size:30px;
  border-radius: 20px;
}

.gameContainerDivClass{
    position:fixed;
    width:100%;
    height:100%;
    background-color: green;
    background: url(../img/thgame1/forest_bg.jpeg) no-repeat center center scroll;
    background-size:100%;
}

.firstOptionClass{
    position:fixed;
    top: 45%;
    left: 60%;    
    width:100px;
    height:100px;
    background: url(../img/thgame1/Cow.jpg) no-repeat center center scroll;
    background-size:100%;
    cursor :pointer;
    border-radius: 10px;
}
.secondOptionClass{
    position:fixed;
    top: 85%;
    left: 40%;   
    width:100px;
    height:100px;
    background: url(../img/thgame1/Duck.jpg) no-repeat center center scroll;
    background-size:100%;
    cursor :pointer;
    display: none;
    border-radius: 10px;
}
.thirdOptionClass{
    position:fixed;
    top: 25%;
    left: 80%;    
    width:100px;
    height:100px;
    background: url(../img/thgame1/Tiger.jpg) no-repeat center center scroll;
    background-size:100%;
    cursor :pointer;
    display: none;
    border-radius: 10px;
}
.fourthOptionClass{
    position:fixed;
    top: 50%;
    left: 5%;    
    width:100px;
    height:100px;
    background: url(../img/thgame1/Monkey.jpg) no-repeat center center scroll;
    background-size:100%;
    cursor :pointer;
    display: none;
    border-radius: 10px;
}
.fifthOptionClass{
    position:fixed;
    top: 65%;
    left: 20%;    
    width:100px;
    height:100px;
    background: url(../img/thgame1/Elephant.jpg) no-repeat center center scroll;
    background-size:100%;
    cursor :pointer;
    display: none;
    border-radius: 10px;
}

.dailogClass
{
    position:fixed;
    top: 45%;
    left: 40%;
    background-color: #bb8fce;   
    border-radius: 10px;
}
    .answerDivclass { width: 120px; 
    height: 30px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color: lightgray; border-radius: 10px; 
  }
      .answerDivCorrectClass { width: 120px; 
    height: 30px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color: #52be80; border-radius: 10px; 
  }

    .answerDivWrongClass { width: 120px; 
    height: 30px; padding: 0.5em; 
    float: left; margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color: #ec7063; border-radius: 10px; 
  }

  .questionDisplayPanel
  {
    position:relative;
    padding: 0.5em;
    margin: 10px 10px 10px 0;
    top: 5%;
    left: 35%;    
    width:30%;
    height:40%;
    background-color: #bb8fce;
    background-size:100%;
    cursor :pointer;
    display:none;
    border-radius: 10px;

  }

  .welcomeMsgDisplayPanel
  {
    position:relative;
    padding: 0.5em;
    margin: 10px 10px 10px 0;
    top: 5%;
    left: 5%;    
    width:30%;
    height:4%;
    background-color: #bb8fce;
    background-size:100%;
    border-radius: 10px;

  }

  .qanswerDivclass { 
    padding: 0.5em; 
    margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color:  #F7D80D  ; border-radius: 10px; 
  }
    .qanswerDivCorrectClass { padding: 0.5em; 
    margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color: #52be80; border-radius: 10px; 
  }

    .qanswerDivWrongClass { 
    padding: 0.5em; 
    margin: 10px 10px 10px 0; text-align: center; vertical-align: center;
    background-color:  #ec7063; border-radius: 10px; 
  }

  .qquestionPClass
  {
    margin-top:10px;
    color: #a93226;
    font-size: 20px;
    margin-left:20px;
  }

#congratsDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/congrats.jpg) no-repeat center center scroll;
    display:none;
    z-index: 1;
    border-radius: 10px; 
}
#tryagainDiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: green;
    background: url(../img/tryagain.png) no-repeat center center scroll;
    display:none;
    background-size:100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px; 
}
li{
  margin: 10px 0;
}

.qscoreSpanClass
{
}
